/* Global Settings */
*{
    padding : 0;
    margin : 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body{
    background-color: black;
    background-size: cover;
}

/* general formats */
.bold-text{
    color: white;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    text-transform: capitalize;
}

.button{
    color:white;
    text-decoration: none;
    border: 2px solid transparent;
    padding: 10px 25px;
    border-radius:30px;
 
}

img{
    max-width: 200px;
    max-height: 250px;
}

.center-flex{
    display: flex;
    align-items: center;
    justify-content: center;

    padding-left: 8%;
    padding-right: 8%;
}

.bottom-padding{
    padding: 1%;
}
/* colors */

.white{ color: white;}
.black-background{ background-color: black;}
.red-background{background-color: #f9004d;}

/* specific formats */

.logo{
    color: white;
    padding-top: 3vh;
    font-size: 35px;
    letter-spacing: 2px;
}



nav{
    padding: 2vh 4%;
    display: flex;
    align-items: center;
}

#searchBar{
    height: 50px;
    width: 100%;
    display: flex;
    padding: 10px 25px;

    border: 1px solid rgba(255, 226, 226, 0.146);
    border-radius: 20px;
}

input[type=text] {

    flex: 1;
    border: none;
    font-size: 17px;
}

#searchIcon{
    /* invert to whtie icon since original is black */
    -webkit-filter: invert(1);
    filter: invert(1);
    height: 100%;
}

.item-container{

    overflow-y: scroll;
    scrollbar-width: 10px;
}

.item-list{

    flex-direction: column;

    overflow-x: auto;

    max-height: 100%;

    list-style: none;

    width: 100%;

}

.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2.5vh 5vw;
    width: 100%;

}

.item-image{
    width: 50vw;
}

#info{
    color: white;
    text-align: center;
}



/* scroll bar animation*/
::-webkit-scrollbar {
    width: 5px;               /* width of the page scrollbar */
    height: 8px;              /* height of the horizontal scrollbar */
}
  
::-webkit-scrollbar-track {
    background: black;        /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
    background-color: white;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 1px solid black;  /* creates padding around scroll thumb */
}
