<!DOCTYPE html>
<html>
<head>
    <title>Title</title>
    <link rel = "stylesheet" type = "text/css" href = "css/detailScreen.css">
    <link rel = "stylesheet" type = "text/css" href = "css/style.css">
</head>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
    <div class="main">
        <a href = "index.html" style = "text-decoration: none;"><h2 class = "logo center-flex">Laigscrist</h2></a>
        <nav>
            <div id = "searchBar" >
                <input type="text" class ="black-background" placeholder="Search..">
                <a href = "#">
                    <img src = "image/search-icon.png" id = "searchIcon">
                </a>
            </div>
            <div>
                <a href="#" class = "button bold-text red-background">Sell</a>
            </div>
        </nav>

        <div class = "center-flex image-container h-padding-8" style = "max-height: 80%;" >
            <ul class = "horizontal-carousel">
                <li><img src = "https://picsum.photos/800/600?random = 1"> </li>
                <li><img src = "https://picsum.photos/1600/900?random = 2"> </li>
                <li><img src = "https://picsum.photos/900/900?random = 3"> </li>
            </ul>
        </div>
        
        <div class = "detail-container center-flex h-padding-8">
            
            <div id = "info">
                <h3 class = "white bottom-padding">{{listing.title}}</h3>
                <div class = "white bottom-padding">Listed by {{listing.author}}</div>
                <div class = "white bottom-padding">{{listing.price}}</div>
                <div>Description: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id corrupti saepe esse velit dolore maxime repudiandae fugiat quibusdam eius atque. Molestiae voluptatum, impedit porro quo repudiandae commodi veniam placeat optio.</div>
                <!--  {{listing.description}}  -->
            </div>
        </div>
       
        <div class = "white h-padding-8" id = "qa-container">
            <!-- {% for question in questions %} -->
            <div>
                <h3 class = "bottom-padding" style="text-decoration: underline;">Questions</h3>
                <div>{{question.body}}</div>
                <div>Asked by {{question.author}}</div>
                <!-- {% if question.answer is defined %}
                    <div>Answer: {{question.answer.body}}</div>
                {% else %} -->
                    <!-- <form method="POST" action="">
                        <div>Answer this question: <input type="text" name="password"></div>
                        <div><input type="submit" name="submit"></div>
                    </form> --> 
                    <div>No answer provided yet.</div>
                <!-- {% endif %} -->
            </div>
            <!-- {% endfor %} -->
        </div>

        <div class = "white h-padding-8" id = "contact-container">

            <h3 class = "white bottom-padding" style="text-decoration: underline;">Contact</h3>
            <div>

                <p>Phone: (888) 888-8888</p>
                <p>Email: contact_email@gmail.com</p>
                
            </div>

        </div>

        <div class = "h-padding-8" id = "edit-container">
            <a href = "listing_update.html" class = "button center-flex bold-text red-background ">Edit this listing</a>
        </div>
    
        
        
    </div>
</body>
</html>