<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Listings</title>
</head>
<body>
    <form method="GET">
        <input type="text" name="search">
        <input type="submit">
    </form>

    <div id="listings">
        {% for listing in listings %}
        <div>
            <h3>{{listing.title}}</h3>
            <div>Listed by {{listing.author}}</div>
            <div>Price is {{listing.price}}</div>
            <div>Description: {{listing.description}}</div>
            <div><a href="/listing/{{listing._id}}">See more</a></div>
            {% if 'image' in listing %}
            <img src="data:;base64,{{listing.image}}"/>
            {% endif %}
        </div>
        {% endfor %}
    </div>

    <div>
        {% if prev_page != 0 %}
        <a href="/?page={{prev_page}}">Previous page</a>
        {% endif %}
        {% if next_page != -1 %}
        <a href="/?page={{next_page}}">Next page</a>
        {% endif %}
    </div>
</body>
</html>