<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Listings</title>
    <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename='css/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div style="height: 99vh; display: flex; flex-direction: column;">
        <a href = "/" style = "text-decoration: none;"><h2 class = "logo center-flex">Laigscrist</h2></a>
        <nav>
            <div>
                    <form action="/" id = "searchBar" >
                    <input type="text" class ="black-background white" placeholder="Search..." name="search">
                    <button type="submit" id="searchButton">
                        <img src = "{{ url_for('static', filename='image/search-icon.png') }}" id = "searchIcon">
                    </button>
                    </form>
            </div>
            <div>
                <a href="/listing/create" class = "button bold-text red-background" style="margin-left: 10%;">Sell</a>
            </div>
        </nav>

        <div class = "item-container">
            <div id = "listings">
                {% for listing in listings %}
                <div class = "item">
                    
                    {% if 'image' in listing %}
                        <img class = "item-image" src="data:;base64,{{listing.image}}"/>
                    {% endif %}
                        
                        <div id = "info">
                            <h3 class = "white bottom-padding">{{listing.title}}</h3>
                            <div class = "white bottom-padding">Listed by {{listing.author}}</div>
                            <div class = "white bottom-padding">{{"${:,.2f}".format(listing.price)}}</div>
                            <!-- <div class = "white bottom-padding">{{listing.description}}</div> -->
                        
                            <div>
                                <a href="/listing/{{listing._id}}" class = "button bold-text white" style="text-decoration: none;">See more</a>
                            </div>
                        </div>
                </div>
                {% endfor %}
                
            </div>
        </div>
        
        <div id = "page-navigation">
            {% if prev_page != 0 %}
            <a href="/?page={{prev_page}}&search={{search}}"><img src = "{{ url_for('static', filename='image/arrow_right.png') }}" style = "transform: scaleX(-1); height: 4vh;width: auto; filter: brightness(0) invert(1);"></a>
            {% endif %}
            {% if next_page != -1 %}
            <a href="/?page={{next_page}}&search={{search}}"><img src = "{{ url_for('static', filename='image/arrow_right.png') }}" style = "height: 4vh;width: auto; filter: brightness(0) invert(1);"></a>
            {% endif %}
        </div>

    </div>

</body>
</html>
