<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename='css/style.css') }}">
  <title>Laigscrist: Answer a question</title></head>
<body> 
  <section class="section-form">
    <div class="back-button">
      <a class="button-menu" href="/listing/{{id}}">Back</a>
    </div>
    <div class="container-ask">
      <div class="header-container">
        <h1>Answer a Question</h1>
      </div>
      <div class="form-container">
        <form action="#" method="post" enctype="multipart/form-data">
          <div class="field-container">
            <br>
            <label for="answer">Your answer:</label>
            <br>
            <textarea rows="5" cols="64" id="answer" name="answer" required></textarea><br>
            <br>          
          </div>
          <div class="field-container">
            <label for="password">Listing PIN</label>
            <br>
            <input type="password" id="password" name="password" required>
            <br>          </div>
          <div class="button-container">
            <input class= "button-form" type="submit" value="Answer">
          </div>
        </span>
    </div>
  </section>
</body>
</html>
