<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel = "stylesheet" type = "text/css" href = "../pages/css/style.css">
  <title>Ask a Question</title>
</head>
<body>
  <section class="ask-question">
    <div class="container-ask">
      <div class="header-container">
        <h1>Ask a Question</h1>
      </div>
      <div class="form-container">
        <form action="/ask" method="POST">
          <div class="field-container">
            <label for="name">Your name:</label>
            <br>
            <input type="text" name="name" id="name">
          </div>
          <div class="field-container">
            <br>
            <label for="question">Your question:</label>
            <br>
            <textarea name="question" id="question" cols="30" rows="5"></textarea>
          </div>
          <div class="button-container">
            <input class= "button-form" type="submit" value="Ask">
          </div>
        </div>
    </div>
  </section>
</body>
</html>