<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel = "stylesheet" type = "text/css" href = "../pages/css/style.css">
  <title>Laigscrist: Create Listing</title>
</head>
<body>
  <section class="section-form">
    <div class="back-button">
      <a class="button-menu" href="/">Home</a>
    </div>
    <div class="container-ask">
      <div class="header-container">
        <h1>Add a Listing</h1>
      </div>
      <div class="form-container">
        <form action="/ask" method="POST">
          <div class="field-container">
            <label for="title">Product name:</label>
            <br>
            <input type="text" name="title" id="title" required>
          </div>
          <div class="field-container">
            <br>
            <label for="description">Product description:</label>
            <br>
            <textarea name="description" id="description" cols="30" rows="5" required></textarea>
          </div>
          <div class="field-container">
            <br>
            <label for="price">Price</label>
            <br>
            <input type="number" min="0" step="0.01" id="price" name="price" required>
            <br>
          </div>
          <div class="field-container">
            <br>
            <label for="images">Product image (.png, .jpg, .jpeg, or .gif)</label>
            <br>
            <input type="file" id="images" name="images" multiple><br>
          </div>
          <div class="field-container">
            <br>
            <label for="author">Author:</label>
            <br>
            <input type="text" id="author" name="author" required><br>
          </div>
          <div class="field-container">
            <br>
            <label for="password">Add a listing pin:</label>
            <br>
            <input type="password" id="password" name="password" required><br>
          </div>
          <div class="button-container">
            <input class= "button-form" type="submit" value="Submit">
          </div>
        </div>
    </div>
  </section>
</body>
</html>