Create new listing page, where you will be allowed to input listing details to create a new listing.

<form action="#" method="post" enctype="multipart/form-data">
    <label for="title">Title</label><br>
    <input type="text" id="title" name="title" required><br>
    <label for="description">Description</label><br>
    <textarea rows="5" cols="64" id="description" name="description"></textarea><br>
    <label for="price">Price</label><br>
    <input type="number" min="0" step="0.01" id="price" name="price" required><br>
    <label for="images">Images (.png, .jpg, .jpeg, or .gif)</label><br>
    <input type="file" id="images" name="images" multiple="multiple"><br>
    <label for="author">Author</label><br>
    <input type="text" id="author" name="author" required><br>
    <label for="password">Listing PIN</label><br>
    <input type="password" id="password" name="password" required><br>
    <input type="submit">
</form>