<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listing - {{listing.title}}</title>
    <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename='css/style.css') }}">
    <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename='css/detailScreen.css') }}">
</head>
<body>
    <div>
        <a href = "/" style = "text-decoration: none;"><h2 class = "logo center-flex">Laigscrist</h2></a>

        <div class = "center-flex image-container h-padding-8" style = "max-height: 80%;" >
            <ul class = "horizontal-carousel">
                {% for image in images %}
                <li><img class = "item-image" src="data:;base64,{{image}}"/></li>
                {% endfor %}
            </ul>
        </div>
        <div class = "detail-container center-flex h-padding-8">
            
            <div id = "info">
                <h3 class = "white bottom-padding">{{listing.title}}</h3>
                <div class = "white bottom-padding">Listed by {{listing.author}}</div>
                <div class = "white bottom-padding">{{"${:,.2f}".format(listing.price)}}</div>
                <div class = "white bottom-padding" style="white-space: pre-line;">Description: {{listing.description}}</div>

            </div>
        </div>

        {% if question|length > 0 %}
       
        <div class = "white h-padding-8" id = "qa-container">

            <h2 class = "bottom-padding" style="padding-bottom: 5%">Questions</h2>
            {% for question in questions %}
            <div>
                <div>{{question.body}}</div>
                <div>Asked by {{question.author}}</div>
                {% if question.answer is defined %}
                    <div>Answer: {{question.answer.body}}</div>
                {% else %}
                    <div>No answer provided yet.</div>
                    <div style = "padding-bottom: 8%; padding-top: 2%;">
                        <a href = "/listing/{{listing._id}}/answer/{{loop.index0}}" class = "button" style = "padding: 0; color: gray; float: right;">Answer this question</a>
                    </div>
                {% endif %}
                <br>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <div class = "h-padding-8" id = "edit-container">
            <a href = "/listing/{{listing._id}}/update" class = "button center-flex bold-text red-background ">Edit this listing</a>
            <br>
            <a href = "/listing/{{listing._id}}/ask" class = "button center-flex bold-text red-background ">Ask A Question</a>
        </div> 
    </div>
</body>
</html>
